version: '3.8'

services:
  frontend:
    build: .
    ports:
      - '5173:5173'
    container_name: admin-web-fitness-frontend
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - '3000:3000'
    container_name: admin-web-fitness-backend
    environment:
      - NODE_ENV=production
