services:
  frontend:
    build:
      context: .
      target: development
    ports:
      - '5173:5173'
    container_name: admin-web-fitness-frontend-dev
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - NODE_ENV=development

  backend:
    build:
      context: ./backend
      target: development
    ports:
      - '3000:3000'
    container_name: admin-web-fitness-backend-dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=development
      - ADMIN_DATABASE_URL=postgresql://admin:admin@database_admin:5432/fitness_admin
    depends_on:
      - database_admin
  database_admin:
    image: postgres:15
    container_name: admin-web-fitness-database-admin-dev
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=fitness_admin
    volumes:
      - db_admin_data:/var/lib/postgresql/data

volumes:
  db_admin_data:
    driver: local
