services:
  frontend:
    build:
      context: .
      target: development
    ports:
      - '5173:5173'
    container_name: admin-web-fitness-frontend-dev
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - NODE_ENV=development

  backend:
    build:
      context: ./backend
      target: development
    ports:
      - '3000:3000'
    container_name: admin-web-fitness-backend-dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=development
  database:
    image: postgres:15
    container_name: admin-web-fitness-database-dev
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=fitness_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
    driver: local
